// Color palette #2a191b #d3b488 #120507 #be9b7c #c48460

// Your variable overrides
$body-bg:     #e7cfb4;
$body-color:  #120507;

$theme-colors: (
  "primary":  #322525,
  "secondary":#9a6449,
);

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";