// Color palette #2a191b #d3b488 #120507 #be9b7c #c48460
// Grey palette #2b2d42 #8d99ae #edf2f4 #ef233c #d90429


// Your variable overrides
$body-bg:     #ffffff;
$body-color:  #1a2139;

$theme-colors: (
  "primary":  #333e5b,
  "secondary":#f73a18,
  "tertiary": #9E7676,
);

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";